<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="{{shortcut}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{jquery_js}}"></script>
    <!--<script type="text/javascript" src="{{jquery_autocomplete_js}}"></script>-->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{{jquery_collage_plus_js}}"></script>
    <script type="text/javascript" src="{{jquery_collageCaption_js}}"></script>
    <script type="text/javascript" src="{{jquery_removeWhitespace_js}}"></script>

    <script type="text/javascript" src="{{jquery_tagsinput_js}}"></script>

    <script type="text/javascript" src="{{md5_js}}"></script>

    <script type="text/javascript" src="{{bootstrap_min_js}}"></script>
    <script type="text/javascript" src="{{bootstrap_modalmanager_js}}"></script>
    <script type="text/javascript" src="{{bootstrap_modal_js}}"></script>
    <script type="text/javascript" src="{{bootstrap_form_helpers_js}}"></script>

    <script type="text/javascript" src="{{ec_swfobject_js}}"></script>
    <script type="text/javascript" src="{{ec_js}}"></script>

    <script type="text/javascript" src="{{jquery_maskedinput_js}}"></script>
    <script type="text/javascript" src="{{jquery_yiiactiveform_js}}"></script>

    <script type="text/javascript" src="{{editor_js}}"></script>
    <script type="text/javascript" src="{{check_js}}"></script>

    <script type="text/javascript" src="{{modal_js}}"></script>
    <script type="text/javascript" src="{{tpl_search_js}}"></script>
    {% for key in self_js %}
        <script type="text/javascript" src="{{key}}"></script>
    {% endfor %}

    {% for key in self_css %}
        <link rel="stylesheet" type="text/css" href="{{key}}" />
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{{bootstrap_modal_bs3patch_css}}" />
    <link rel="stylesheet" type="text/css" href="{{bootstrap_modal_css}}" />
    <link rel="stylesheet" type="text/css" href="{{bootstrap_form_helpers_css}}" />
    <link rel="stylesheet" type="text/css" href="{{jquery_collage_plus_transitions_css}}" />
</head>
<body>
    <script type="text/javascript">
    /*<![CDATA[*/
    $.fn.t.users_id_current={{users_id_current}};
    $.fn.t.unit_id_current={{unit_id_current}};
    $.fn.t.url_login='{{url_login}}';
    $.fn.t.url_home='{{url_home}}';
    $.fn.t.url_article_list = '{{article_list_url}}';
    $.fn.t.url_unit_item = '{{unit_item_url}}';
    $.fn.t.url_unit_list = '{{unit_list_url}}';
    $.fn.t.url_lib = '{{url_lib}}';
    $.fn.t.no_image_src = '{{no_image_src}}';
    $.fn.m.users_id_current={{users_id_current}};
    $.fn.m.unit_id_current={{unit_id_current}};
    $.fn.m.url_login='{{url_login}}';
    $.fn.m.url_logout='{{url_logout}}';
    $.fn.m.url_home='{{url_home}}';
    $.fn.editor.url_ajax_tpl_set='{{url_ajax_tpl_set}}';
    $.fn.editor.url_ajax_tpl_get='{{url_ajax_tpl_get}}';
    $.fn.editor.url_ajax_set_f='{{url_ajax_set_f}}';
    $.fn.editor.url_ajax_get_f='{{url_ajax_get_f}}';
    /*]]>*/
    </script>
    <div id="terms_unit" style="display: none;">
        {@
        type=>unit
        where=>1=1
        order=>d_add desc
        limit=>36
        offset=>0
        @}
    </div>
    <div id="terms_categories" style="display: none;">
        {@
        type=>categories
        where=>k_rubric_id = 1
        @}
    </div>
    <div class="container">
        <header>
            <div class="row">
		        <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                    <a href="/" class="logo"><img  src="{{logo_self_src}}" /></a>
                </div>
		        <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 navbar-right">
		                <div class="row right_panel">
                    	    <div class="ava"></div>
                            <!--<div class="basket glyphicon glyphicon-shopping-cart"><div class="gb_Ma">{{shopping_basket_items_cnt}}</div></div>-->
                            <!--<div class="favorit glyphicon glyphicon-heart"> <div class="gb_Ma">2</div></div>-->
                            <div class="ask glyphicon glyphicon-question-sign" data-target='#feedback' data-toggle='modal' title="Задать вопрос"><div class="gb_Ma"></div></div>
                            <!--<div class="bell"><div class="gb_Ma">{{ticket_msg_cnt}}</div></div>-->
	                        <div class="name_user right">
                                {% if users_id_current == 0 %}
                                    <a href="#" data-target='#login' data-toggle='modal'>Войти <i class="glyphicon"></i></a>
                                {%else%}
                                    <span>{{user_name}}</span>
                                    <a href="#" data-target='#logout' data-toggle='modal'>Выход</a>
                                {% endif %}
                                <!--<a href="#">Игорь</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row search_dread">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                     <div class="header_text center">
                        <!--<ol class="breadcrumb">
                          <li><a href="#">Thailand</a></li>
                          <li><a href="#">Chomburi</a></li>
                          <li><a href="#">Pattaya</a></li>
                          <li class="active">Hotels<span class="description"> (8678) вариантов размещения </span></li>
                        </ol>-->
                     </div>
                </div>
            </div>
        </header>

        <div class="row">
		    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <h1 class="center"></h1>
                <div class="text_search_menu center">
                    <span>Поиск</span>&nbsp;
                    {% set tags_text_len = 11 %}
                    {% set tags_text = "ПоискЕще..." %}
                    {% for key,value in k_categories_arr %}
                        {% set tags_text = tags_text ~ value["name"] %}
                        {% if tags_text|length <= 75 %}
                            <a href="{{unit_list_url}}&kc_name={{value['name']}}" class="tags_list" data-k_categories_id="{{value['k_categories_id']}}">{{value["name"]}}</a>&nbsp;
                        {% endif %}
                    {% endfor %}
                    <!--<a href="#" class="tags_list_more" data-target='#tags_list' data-toggle='modal'>Еще...</a>-->
                </div>

                {% include 'search.twig' %}

                <!--box filters-->
                <div class="box_filters">
                    <span class="clear_all" style="display: none;"><a href="#">Очистить все</a></span>
                </div>
                <!--//box filters-->
            </div>
        </div>

        <!--box_catalog-->
        <div class="row">
    		<div id="sbiz5219" class="showbiz item">
    			<div style="height: 554px;" class="overflowholder">
    				<ul class="hlisting">
                        {% for key,value in unit_model_arr %}
                            <li class="item" data-unit_id="{{value['unit_id']}}" data-k_brand_id="{{value['k_brand_id']}}" data-k_essence_id="{{value['k_essence_id']}}"  data-k_categories_id="{{value['k_categories_id_arr']}}" data-k_properties_value_id="{{value['k_properties_value_id_arr']}}">
                     		    <div class="availability">
                     		    	<span class="in_stock">
                     		    		<span class="hint">В&nbsp;наличии</span>
                     		    	</span>
                     		    </div>
                     		    <div class="item-info">
                                    <div class="photo" style="text-align: center;">
                                          {% if value["img_card_primary"]|length > 0 %}
                                              <img alt="" src="{{value["img_card_primary"][0]}}/medium.png">
                                          {% else %}
                                              <img alt="" src="{{no_image_src}}">
                                          {% endif %}
                          			</div>
                     		    </div>
                     		    <div class="darkhover"></div>
                     		    <div class="detailholder">
                     		    	<div class="fn">{{value["name_detailed"]}}</div>
                     		    	<div class="divide20"></div>
                     		    	<p style="display: none; height: 66px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;" class="description">
                                        {{value["properties_value_arr"]|raw}}
                     		    	</p>
                                    <div class="divide20"></div>
                     		    	<p></p>
                     		    	<div class="listing-action leftfloat">
                     		    		<span class="sell">Цена</span>
                     		    		<span class="price">{{value["cost"]}} руб</span>
                     		    	</div>
                     		    	<!--<div class="hreview-feedback rightfloat"><a href="#">READ MORE</a></div>-->
                     		    	<div class="sb-clear"></div>
                     		    </div>
                     		</li>
                        {% endfor %}
    				</ul>

                    <div class="sbclear"></div>
                </div>
                <div class="sbclear"></div>
            </div>
    	</div>
        <!-- // box_catalog-->
    </div>

        <div class="row">
		    <div class="col-sm-12 col-md-12 col-lg-12 ">
                <input type="button" class=" btn btn-default center more" id="btn_unit_more" value="Показывать еще 36">
            </div>
        </div>

        <!--subskribe-->
        <div class="row subs">
		    <div class="col-sm-0 col-md-1 col-lg-1 "> </div>
		    <div class=" col-xs-5 col-sm-4 col-md-4 col-lg-4 unsubs ">
                <h3>Отели за полцены!</h3>
                Подпишитесь на рассылку эксклюзивных предложений
            </div>
		    <div class=" col-xs-7 col-sm-5 col-md-4 col-lg-4 ">
                {% if subscribe_arr|length > 0 %}
			        <input type="text" placeholder="Ваш адресс электронной почты" id="subscribe_email" class="form-control" value="{{subscribe_arr[0]["email"]}}">
                {%else%}
                    <input type="text" placeholder="Ваш адресс электронной почты" id="subscribe_email" class="form-control">
                {% endif %}
		    </div>
		    <div class=" col-xs-7 col-sm-3 col-md-2 col-lg-2 ">
                {% if subscribe_arr|length > 0 %}
			        <button class="btn btn-primary unsubscribe" id="btn_subscribe_save" type="submit">Отписаться</button>
                {%else%}
                    <button class="btn btn-primary subscribe" id="btn_subscribe_save" type="submit">Подписаться</button>
                {% endif %}
            </div>
		    <div class="col-sm-0 col-md-1 col-lg-1 "> </div>
        </div>
        <!--//subskribe-->
        <!--banner 580 -->
        <div class="row banner_big">
            <div class="banner_580">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Адаптивный низ -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1775074057792174"
                     data-ad-slot="7145276142"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <!--//banner 580 -->

        <!--footer-->
        <div class="row">
            <!--pay-->
            <div class="box_pay">
	            <div><img src="{{self_images}}ico_1.jpg"  /></div>
	            <div><img src="{{self_images}}ico_2.jpg"  /></div>
	            <div><img src="{{self_images}}ico_3.jpg"  /></div>
                <div><img src="{{self_images}}ico_4.jpg"  /></div>
                <div><img src="{{self_images}}ico_5.jpg"  /></div>
                <div><img src="{{self_images}}ico_6.jpg"  /></div>
            </div>
            <!--/pay-->
            <!--footer link-->
            <div class="box_footer_link">
                <ul class="navbar-nav">
                    <li><a href="#">Agent Login</a></li>
                    <li><a href="#">Owner Login</a></li>
                    <li><a href="#">Translator Login</a></li>
                    <li><a href="#">Customer Login</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Availabilty</a></li>
                </ul>
            </div>
            <!--/footer link-->
            <div class="copyrigh">
                &copy; 2003-2014 by Thailand Holiday Homes Contact us Thailand: +66 (0) 387 57142, or Email us: <a href="mailto:sales@thailandholidayhomes">sales@thailandholidayhomes</a>
            </div>
        </div>
        <!--//footer-->
    </div>

    <div id="scroller" class="b-top" style="display: none;"><span class="b-top-but"></span></div>

    <!-- Bottom Panel -->
    <!--<div id="bottom-panel">
		<ul class="left">
			<li><span class="icon"></span></li>
			<li>
                <a href="#" class="feedback" data-target='#feedback' data-toggle='modal'>
                    <span class="icon"></span>
                    Обратная связь
                </a>
            </li>
		</ul>
		<ul class="right">
			<!--<li class="eq-1"><a class="comparison" href="#"><span class="icon icon-comparison"></span><span>Сравнение</span><span class="count count-0">0</span></a></li>
			<li class="eq-2"><a class="bookmark" href="#"><span class="icon icon-bookmark"></span><span>Закладки</span><span class="count count-0">0</span></a></li>-->
			<!--<li class="eq-3">
                <a href="#" class="btn_basket basket" data-target='#basket' data-toggle='modal'>
                    <span class="icon icon-basket"></span>
                    <span class="span-2">Корзина</span>
                    <span class="count count-1">{{shopping_basket_items_cnt}}</span>
                    <span class="sum">{{shopping_basket_items_cost}} руб.</span>
                </a>
            </li>
			<li class="eq-4"><a class="checkout" href="#">Оформить заказ</a></li>
		</ul>
	</div>-->
    <!-- #bottom-panel -->

    {% include 'unit_lenta_sslab_modal.twig' %}
</body>
</html>